<app-navbar></app-navbar>

<div class='container'></div>
  <hr>
  <div class="row">
    <div class="col mt-4 mb-4">
      <div class="col-md-8 mx-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>


