<div class="table">
    <thead>
        <tr>
            <th class="scope">Id</th>
            <th>Sprint type id</th>
            <th>progress</th>
            <th>description</th>
            <th>notify</th>
            <th>user</th>
            <th>created at</th>
            <th>finished at</th>
        </tr>
    </thead>
    <tbody *ngIf="sprints">
       
        <tr *ngFor="let sprint of sprints.result">
            <td>{{sprint._id}}</td>
            <td>{{sprint.sprintType}}</td>
            <td>{{sprint.progress}}</td>
            <td>{{sprint.description}}</td>
            <td>{{sprint.notify}}</td>
            <td>{{sprint.user}}</td>
            <td>{{sprint.createdAt | date:'medium'}}</td>
            <td>{{sprint.finishedAt | date:'medium'}}</td>
        </tr>
    

<div>
